body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin:0; padding:0;
    display: block; /* Default layout */
    justify-items: center;
    height: 100vh;
}

div#context {
    position: absolute;
    border: 1px solid black;
    border-radius:5px;
    box-shadow:0 2px 25px rgba(39, 1, 1, 0.4);
    padding:10px;
}

/*** Debugging container */

div#debug-container {
    position:absolute;
    top:10px;
    right:10px;
    background-color:#fae3e3;
    border-radius:5px;
    box-shadow:0 2px 4px rgba(39, 1, 1, 0.4);
    padding:10px;
}

/** Canvas Picture-in-Picture Views **/

div.pip {
    position: absolute;
    right: 10px; 
    border: 1px solid;
    padding: 3px;
    box-shadow:0 2px 25px rgba(39, 1, 1, 0.4);
    font-size: 7pt;
}

div.pip div.title {
    position: absolute;
    left: 3px;
    bottom: 3px;
}

/** Load Counter */

div.loadView {
    position: absolute;
    border: 1px solid silver;
    font-size: 8pt;
    padding-left: 5px;
    background-color: #ededed;
    padding-top: 10px;
}

div.loadView div.loadTitle {
    position: absolute;
    font-weight: bold;
    border: 1px solid blueviolet;
    background-color: mediumvioletred;
    color: #fff;
    padding: 2px 5px;
    top: -9px;
    left: 4px;
    box-shadow: 2px 5px 8px rgba(39, 1, 1, 0.4)
}

div.loadView div.loadSection {
    display: block;
    position: relative;
}

div.loadView div.loadSection div.loadContainer {
    margin-left: 5px;
}

div.loadSection div.sectionTitle {
    position: relative;
    font-weight: bold;
    text-decoration: underline;
    margin-top: 6px;
}

div.sectionTitle ~ div.sectionTitle {
    margin-top: 1px;
}

div.loadView div.loadContainer {
    color: black;
    position: relative;
    left: 2px;
    width: 78px;
    margin-top: 6px;
}

div.loadContainer ~ div.loadContainer {
    margin-top: 1px;
}

div.loadContainer div.loadEntry {
    position: relative;
    width: 71px;
}

div.loadView span.loadLabel {
    color: black;
    display: block;
    position: relative;
    top: 0;
    left: 0;
    height: 15px;
}

div.loadContainer div.loadCounter {
    color: black;
    position: absolute;
    top: 0;
    left: 55px;
    height: 15px;
    width: 60px;
}

div.loadContainer div.loadBar {
    color: black;
    position: absolute;
    top: 0;
    left: 50px;
    height: 15px;
    z-index: 20;
}

div.loadBar span.loadBarText {
    color: black;
    padding-left: 5px;
}
